*:root{
  --color-primary:#ff5500;
  --color-secondary:#00cba9;
  --glass: rgba(255,255,255,0.14);

}
body, html{margin:0}
footer{
  background:var(--glass);
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;


}
header{
  background:var(--color-secondary);
  display: flex;
  align-items:flex-start;
}
#root{
  display: grid;
  grid-template-rows: minmax(200px, 25%) 1fr;
  position: absolute;
}
/* search-box */
.search-box{

  padding: 32px;
  background:var( --glass);
  border-radius:8px ;
 
  display: flex;
  flex-wrap: wrap;

  padding: 16px;
}
.logo{
  text-shadow: 3px 3px white;
  color: var(--color-primary);
}
input, button {

  height:32px;
  border-radius:8px;
  border: 0;
  margin: 8px;
}
.photo{
  border: 0.02rem solid var(--color-primary);
  padding:8px;
  border-radius: 2px;
  margin-bottom: 16px;
  margin: 8px 32px;
 
}
.photo:hover{
  animation:hovered 2.5s ease-in-out;
}
@keyframes hovered{
 0%{
   background: var(--color-secondary);
   color: white;
   transform: skew(0)
 }
 100%{
  background: var(--color-primary);
  color: white;
  transform: skew(3deg, 3deg);

 }
}
.card {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

@media(min-width:1100px){
  .card{
    margin-top: -200px;
  }
}
@media screen and (max-width:360px){
  .card{

  grid-template-columns:repeat(2, 1fr);
  max-width: 50vh;

  }
}